<h1>Welcome to Chitter<h1>
<p><h2>What are you up to that the word needs to know about?</h2></p>
<form action="/peep/new" method="post">
<input type="text" name="peep">
<input type="submit" name="button" value="Chit your peep">
</form>
<p><h3>Or do you just want to see what everyone else is up to?</h3></p>
<form action="/peep/index" method="get">
<input type="submit" name="button" value="Show me">
</form>
<br>
<form action="/user/new" method="get">
<input type="submit" name="button" value="Sign up">
</form>