<h1>Sign up to Chitter</h1>

<form action="/user/new" method="post">
  <p>
    <label for="email">Email</label>
    <input type="text" name="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="text" name="password">
  </p>
  <p>
    <label for="name">Name</label>
    <input type="text" name="name">
  </p>
  <p>
    <label for="username">Username</label>
    <input type="text" name="username">
  </p>
<input type="submit" name="button" value="Submit">